<h1>Edit a User</h1>

<form action="/users/<%= @user.id %>/update">
  <label for="name">User Name</label>
  <input type="text" name="user" id="name" value= "<%= @user.name %>" class= "form-control">
  <label for="url">Image URL</label>
  <input type="text" name="image" id="url" value= "<%= @user.image_url %>" class= "form-control">
  <label for="description">Bio</label>
  <input type="text" name="bio" id="description" value="<%= @user.description %>" class= "form-control">
  <input type="submit" class= "btn btn-primary">
</form>