<h1>New User</h1>

<form action="/users/create_user">
  <input type="text" name="User Name" placeholder="User Name">
  <input type="text" name="Image URL" placeholder="Image URL">
  <input type="text" name="Bio" placeholder="Bio">
  <input type="submit">
</form>